html {
    box-sizing: border-box;
    line-height: 1.4;
    background-color: #2B323C;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}
