:root {
    --ferrai: #da0a16;
    --mercedes: #22d2be;
    --red-bull: #244afb;
    --mclaren: #fd8625;
    --renault: #fef336;
    --force-india: #f397c8;
    --sauber: #99040c;
    --williams: white;
    --toro-rosso: #4b9dfc;
    --haas: #828282;
}
